*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-position: center;
}
.search{
    margin-top: 10vh;
}

.search-input{
    width: 30vw;
    text-align: center;
    border: unset;
    border-bottom: 1px solid rgba(0, 0, 0, 0.514);
    padding: 10px;
    outline: unset;
    font-size: 20px;
}

.date-info{
    margin-top: 10vh;
    text-align: center;
    font-size: 23px;

}

::placeholder{
    color: black;
}

input{
    background: transparent;
}

.weather-info{
    width: 55vw;
    margin-top: 8vh;
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all ease 1s;
}

.weather-status{
    width: 12vw;
    height: 7vh;
    background-color: rgba(240, 248, 255, 0.322);
    text-align: center;
    border-radius: 7px;
    line-height: 7vh;
}

.weather-humidity{
    width: 12vw;
    height: 7vh;
    background-color: rgba(240, 248, 255, 0.322);
    text-align: center;
    border-radius: 7px;
    line-height: 7vh;

}

.weather-wind{
    width: 12vw;
    height: 7vh;
    background-color: rgba(240, 248, 255, 0.322);
    text-align: center;
    border-radius: 7px;
    line-height: 7vh;

}

.weather-situation{
    width: 12vw;
    height: 7vh;
    background-color: rgba(240, 248, 255, 0.322);
    text-align: center;
    border-radius: 7px;
    line-height: 7vh;
}

.title{
    margin-top: 8vh;
}
.back_cold{
    background-image:url(/assets/images/cold.jpg);
}
.back_warm{
    background-image:url(/assets/images/warm.jpg);
}
.back_hot{
    background-image:url(/assets/images/hot.jpg);
}
.back_usual{
    background-image:url(/assets/images/usual.jpg);
}

.font_cold{
    color: rgb(0, 0, 0);
}
.font_warm{
    color: rgb(0, 110, 255);
}
.font_hot{
    color: rgb(0, 172, 29);
}
.font_usual{
    color: rgb(255, 94, 0);
}

.title i{
    font-size: 5vw;
}

.weather-info i {
    margin-left: 2vh;
    font-size: 2vw;
}